---
import { Icon } from 'astro-icon';
import Layout from '../../layouts/Layout.astro';
---

<Layout title='About'>
  <div
    class='flex flex-col items-start justify-center w-full px-24 lg:px-48 max-sm:px-5 max-w-7xl my-8 mx-auto'
  >
    <h1 class='text-4xl text-[#94849b] mb-4 font-bold underline'>
      Presentation
    </h1>
    <p
      class='leading-9 text-3xl max-sm:text-2xl font-thin mb-16 text-[#f2efea]'
    >
      Je m'appelle Christophe Anfry, j'ai 40 ans et je suis développeur
      fullstack. J'ai commencé à apprendre la programmation informatique il y a
      3 ans. Pour la plupart des gens, le COVID-19 a été une expérience
      négative, mais pour moi cela a été une renaissance. J'ai profité de
      l'opportunité pour apprendre quelques choses de nouveau et qui me
      passione. J'ai travaillé pour le service technique de Google Workspace et
      été attiré par ce domaine. Cependant à cette époque, je n'avais pas le
      temps de m'y mettre, donc, quand et venu le temps du confinement, j'ai
      sauté sur l'occasion. J'ai appris HTML, CSS et Javascript. Plus
      j'apprenais et plus je vouslais apprendre et en faire ma carrière
      professionnelle. J'ai donc décidé de me lancer dans cette aventure et
      devenir développeur fullstack. J'ai appris React, Node.js, Express,
      PostgreSQL, TailwindCSS, Bootstrap, Git et Github. J'ai également appris à
      utiliser Figma pour créer des maquettes de sites web.
    </p>
    <h1 class='text-4xl text-cyan-400 mb-4 font-bold underline'>
      Comment je travaille?
    </h1>
    <p
      class='leading-9 text-3xl max-sm:text-2xl font-thin mb-16 text-[#f2efea]'
    >
      J'ai toujours travaillé pour des clients et ma joie est leur satisfaction.
      Mon attention aux détails me permet de créer des maquettes de vos projets
      en utilisant Figma (logiciel de design), ainsi vous pouvez visualiser le
      projet et me guider sur vos préférences. J'ai également appris beaucoup de
      choses sur le SEO (Search Engine Optimization), l'accessibilité et la
      performance, ce qui me permet de créer des sites robustes et efficaces. Je
      peux utiliser différentes technologies et/ou plateformes, pour vous
      apporter différentes solutions en fonction de vos besoins et de votre
      budget. C'est pourquoi je suis plus que prêt à créer de merveilleux
      projets pour vous.
    </p>
    <h1 class='text-4xl text-[#94849b] mb-4 font-bold underline'>Skills</h1>
    <div class='flex items-center gap-x-8 gap-y-10 flex-wrap mt-2'>
      <Icon pack='vscode-icons' name='file-type-html' class='w-20 h-20' />
      <Icon pack='vscode-icons' name='file-type-css' class='w-20 h-20' />
      <Icon pack='logos' name='javascript' class='w-16 h-16' />
      <Icon pack='logos' name='python' class='w-16 h-16' />
      <Icon pack='vscode-icons' name='file-type-typescript' class='w-20 h-20' />
      <Icon pack='vscode-icons' name='file-type-reactjs' class='w-20 h-20' />
      <Icon pack='vscode-icons' name='file-type-astro' class='w-20 h-20' />
      <Icon
        pack='teenyicons'
        name='nodejs-outline'
        class='w-20 h-20 text-green-500'
      />
      <Icon pack='logos' name='postgresql' class='w-20 h-20' />
      <Icon pack='logos' name='tailwindcss-icon' class='w-20 h-20' />
      <Icon pack='logos' name='bootstrap' class='w-20 h-20' />
      <Icon pack='simple-icons' name='git' class='w-20 h-20 text-orange-600' />
      <Icon pack='ri' name='github-fill' class='w-20 h-20 text-[#6e5494]' />
    </div>
  </div>
</Layout>
