---
import Main from '../../components/Main.astro';
import Layout from '../../layouts/Layout.astro';
---

<Layout title='Welcome to AnfryDev.'>
  <Main>
    <h1 class='text-7xl mt-5 text-[#fdfff7]' id='demo'>
      Je crée <span class='text-[#94849b]'>des sites</span> et des <span
        class='text-[#07b6D5]'>applications web</span
      >.
    </h1>
    <p class='text-3xl font-thin mt-5 text-[#f2efea]'>
      Je suis un développeur fullstack qui transforme vos projets/entreprises en
      contenu digital.
    </p>
    <div class='flex items-center justify-start gap-x-4 mt-8'>
      <a href='/work'>
        <button
          class='rounded-lg max-sm:py-1 max-sm:px-2 max-sm:text-xl py-2 px-4 text-2xl bg-dark hover:bg-[#07b6D5] hover:text-[#fdfff7] text-[#07b6D5] border-2 border-[#07b6D5]'
          >Mon travail</button
        >
      </a>
      <a href='/contact'>
        <button
          class='rounded-lg max-sm:py-1 max-sm:px-2 max-sm:text-xl py-2 px-4 text-2xl bg-dark hover:bg-[#94849b] hover:text-[#fdfff7] text-[#94849b] border-2 border-[#94849b]'
          >Contactez-moi</button
        >
      </a>
    </div>
  </Main>
</Layout>
