---
import { Icon } from 'astro-icon';
import Layout from '../layouts/Layout.astro';
---

<Layout title='About'>
  <div
    class='flex flex-col items-start justify-center w-full px-24 lg:px-48 max-sm:px-5 max-w-7xl my-8 mx-auto'
  >
    <h1 class='text-4xl text-[#94849b] mb-4 font-bold underline'>
      Presentation
    </h1>
    <p
      class='leading-9 text-3xl max-sm:text-2xl font-thin mb-16 text-[#f2efea]'
    >
      My name is Christophe Anfry, I&apos;m 40 and I&apos;m a fullstack
      developer. I started 3 years ago learning web development. For most of the
      people COVID-19 has been a negative experience, but for me, it has been a
      rebirth. I took the opportunity to think about learning something new and
      that I love. I&apos;ve worked before as a technical support for Google
      Workspace, and was interested in learning programmimg stuff. At this time
      I had no time for that, so when we have been confined at home I took my
      chance and started learning HTML, CSS and Javascript. The more I was
      learning the more I wanted to learn, and to make it my principal job.
    </p>
    <h1 class='text-4xl text-cyan-400 mb-4 font-bold underline'>
      How do I work?
    </h1>
    <p
      class='leading-9 text-3xl max-sm:text-2xl font-thin mb-16 text-[#f2efea]'
    >
      I&apos;ve always been working for customers and my joy is the customer
      satisfaction. My attention to details make me sketch your projects using
      Figma (Design Software), so in advance you can start visualizing the
      project and guide me about your preferences. I've also learnt a lot about
      SEO (Search Engine Optimization), accessibility and performance, so I can
      build robust and efficient websites. I can use different technologies
      and/or platforms, to bring you different solutions depending on your needs
      and budget. That's why I'm more than ready to create wonderful projects
      for you.
    </p>
    <h1 class='text-4xl text-[#94849b] mb-4 font-bold underline'>Skills</h1>
    <div class='flex items-center gap-x-8 gap-y-10 flex-wrap mt-2'>
      <Icon pack='vscode-icons' name='file-type-html' class='w-20 h-20' />
      <Icon pack='vscode-icons' name='file-type-css' class='w-20 h-20' />
      <Icon pack='logos' name='javascript' class='w-16 h-16' />
      <Icon pack='logos' name='python' class='w-16 h-16' />
      <Icon pack='vscode-icons' name='file-type-typescript' class='w-20 h-20' />
      <Icon pack='vscode-icons' name='file-type-reactjs' class='w-20 h-20' />
      <Icon pack='vscode-icons' name='file-type-astro' class='w-20 h-20' />
      <Icon
        pack='teenyicons'
        name='nodejs-outline'
        class='w-20 h-20 text-green-500'
      />
      <Icon pack='logos' name='postgresql' class='w-20 h-20' />
      <Icon pack='logos' name='tailwindcss-icon' class='w-20 h-20' />
      <Icon pack='logos' name='bootstrap' class='w-20 h-20' />
      <Icon pack='simple-icons' name='git' class='w-20 h-20 text-orange-600' />
      <Icon pack='ri' name='github-fill' class='w-20 h-20 text-[#6e5494]' />
    </div>
  </div>
</Layout>
