---
import Layout from '../layouts/Layout.astro';
---

<Layout title='About'>
  <div
    class='flex flex-col items-start justify-center w-full px-24 lg:px-48 max-sm:px-5 max-w-7xl my-8 mx-auto'
  >
    <h1 class='text-4xl text-slate-500 mb-4 font-bold'>Presentation</h1>
    <p class='leading-8 text-3xl max-sm:text-2xl font-thin mb-8'>
      My name is Christophe Anfry, I&apos;m 40 and I&apos;m a fullstack
      developer. I started 3 years ago learning web development. For most of the
      people COVID-19 has been a negative experience, but for me, it has been a
      rebirth. I took the opportunity to think about learning something new and
      that I love. I&apos;ve worked before as a technical support for Google
      Workspace, and was interested in learning programmimg stuff. At this time
      I had no time for that, so when we have been confined at home I took my
      chance and started learning HTML, CSS and Javascript. The more I was
      learning the more I wanted to learn, and to make it my principal job.
    </p>
    <h1 class='text-4xl text-cyan-300 mb-4 font-bold'>How do I work?</h1>
    <p class='leading-8 text-3xl max-sm:text-2xl font-thin mb-8'>
      I&apos;ve always been working for customers and my joy is the customer
      satisfaction. My attention to details make me sketch your projects using
      Figma, so in advance you can start visualizing the project and guide me
      about your preferences. I've also learnt a lot about SEO, accessibility
      and performance, so I can build robust and efficient websites. I can use
      different technologies and/or platforms, to bring you different solutions
      depending on your needs and budget. That's why I'm more than ready to
      create wonderful projects for you.
    </p>
  </div>
</Layout>
