---
import { getCollection } from 'astro:content';
import Main from '../components/Main.astro';
import Layout from '../layouts/Layout.astro';

const allProjects = await getCollection('projects');
const projects = allProjects.flatMap((project) => {
  return project.data;
});
console.log(projects);
---

<Layout>
  <Main>
    <h1 class='text-4xl text-left mb-4'>My Work</h1>
    <hr class='w-full h-[1px] bg-cyan-500 border-none' />
    <hr />
    <section class='grid grid-cols-2 max-sm:grid-cols-1 gap-x-4 gap-y-4'>
    </section>
  </Main>
</Layout>
