---
import Layout from '../../../layouts/Layout.astro';
---

<Layout title='error'>
  <div class='flex flex-col items-center justify-center'>
    <h1 class='text-5xl text-[#f2efea]'>Oops! Algo ha ido mal!!!</h1>
    <p class='text-xl mt-10'>
      Volver a <a href='/contact' class='text-[#07b6d5]'>contacto</a>
    </p>
  </div>
</Layout>
