---
import Layout from '../../../layouts/Layout.astro';
---

<Layout title='success'>
  <div class='flex flex-col items-center justify-center'>
    <h1 class='text-5xl text-[#f2efea]'>
      Su mensaje se ha mandado corectamente!!
    </h1>
  </div>
</Layout>
