---
import { Icon } from 'astro-icon';
import Layout from '../../layouts/Layout.astro';
---

<Layout title='About'>
  <div
    class='flex flex-col items-start justify-center w-full px-24 lg:px-48 max-sm:px-5 max-w-7xl my-8 mx-auto'
  >
    <h1 class='text-4xl text-[#94849b] mb-4 font-bold underline'>
      Presentación
    </h1>
    <p
      class='leading-9 text-3xl max-sm:text-2xl font-thin mb-16 text-[#f2efea]'
    >
      Me Llamo Christophe Anfry, tengo 40 años y soy un desarollador fullstack.
      Empezé a estudiar la programación hace 3 años. Para la mayoría de la gente
      el COVID-19 ha sido una experiencia negativa, pero para mi, ha sido un
      renacimiento. Cogí la oportunidad de aprender algo nuevo y que me guste.
      Trabajé antes como asistente técnico en Google Workspace, y empezé en
      intersarme en aprender la programción. En este momento no tenía tiempo
      para ello, entonces cuando fuimos confinados en casa, salté en la ocasión
      de aprender HTML, CSS, y Javascript. Más aprendía y más quería aprender, y
      hacer de esta pasión mi principal trabajo.
    </p>
    <h1 class='text-4xl text-cyan-400 mb-4 font-bold underline'>
      Cómo trabajo?
    </h1>
    <p
      class='leading-9 text-3xl max-sm:text-2xl font-thin mb-16 text-[#f2efea]'
    >
      Siempre he trabajado para el servicio al cliente y mi felicidad es su
      satisfación. Mi rigurosa atención al detalle, hacen que preparo mis
      proyectos utilizando el programa Figma (programa de diseño),así puede
      visualizar el proyecto y guiarme según sus preferencias. Aprendí mucho
      sobre SEO (Search Engine Optimization), accesibilidad y rendimiento,
      entonces puedo crear paginas o aplicaciones robustas. Puedo utilizar
      diferentes tecnologías y/o plataformas para treaerle diferentes soluciones
      según sus necesidades y presupuesto. Es porque estoy mas que preparado
      para crear marvillosos proyecto para usted.
    </p>
    <h1 class='text-4xl text-[#94849b] mb-4 font-bold underline'>Skills</h1>
    <div class='flex items-center gap-x-8 gap-y-10 flex-wrap mt-2'>
      <Icon pack='vscode-icons' name='file-type-html' class='w-20 h-20' />
      <Icon pack='vscode-icons' name='file-type-css' class='w-20 h-20' />
      <Icon pack='logos' name='javascript' class='w-16 h-16' />
      <Icon pack='logos' name='python' class='w-16 h-16' />
      <Icon pack='vscode-icons' name='file-type-typescript' class='w-20 h-20' />
      <Icon pack='vscode-icons' name='file-type-reactjs' class='w-20 h-20' />
      <Icon pack='vscode-icons' name='file-type-astro' class='w-20 h-20' />
      <Icon
        pack='teenyicons'
        name='nodejs-outline'
        class='w-20 h-20 text-green-500'
      />
      <Icon pack='logos' name='postgresql' class='w-20 h-20' />
      <Icon pack='logos' name='tailwindcss-icon' class='w-20 h-20' />
      <Icon pack='logos' name='bootstrap' class='w-20 h-20' />
      <Icon pack='simple-icons' name='git' class='w-20 h-20 text-orange-600' />
      <Icon pack='ri' name='github-fill' class='w-20 h-20 text-[#6e5494]' />
    </div>
  </div>
</Layout>
